.frame-container {
  width: 400px;
  height: 550px;
  background: radial-gradient(circle at top, #0f7a4a, #064b30);
  border-radius: 20px;
  padding-top: 30px;
  margin: auto;
  text-align: center;
  color: white;
  font-family: "Segoe UI", sans-serif;
}

.outer-ring {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #1fd18a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.photo-circle {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.photo-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-content {
  margin-top: 30px;
}

.symbol {
  font-size: 50px;
  background: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  margin: auto;
}

.bottom-content h1 {
  font-size: 22px;
  margin: 10px 0 0;
}

.bottom-content h2 {
  font-size: 26px;
  color: #ffd700;
  margin-top: 5px;
}
